<!DOCTYPE html>

<%= render 'layouts/supervisor_buttonbar'%>


<table class="table table-striped">
	<thead>
		<th>Navn</th>
		<th>Timer</th>
		<th>Dato</th>
		<th>Status</th>
		
	</thead>
	<% @collection.each do |person| -%>
	<tr class="">
		<td><%= person[:name] %></td>
		<td><%= person[:hours] %></td>
		<td><%= person[:date] %></td>
		<td>Venter på godkjenning</td>
		<td>
			<button class="btn btn-success">Godkjenn</button>
			<button class="btn btn-danger">Underkjenn</button>
		</td>
	</tr>
	<tr>
		<td colspan="4">
	<table class="table table-hover" id="list_details">
		<thead>
			<th>Periode</th>
			<th>Start</th>
			<th>Stop</th>
			<th>Total</th>
		</thead>
		<tr class="info">
			<td>1</td>
			<td>07.32</td>
			<td>11.26</td>
			<td>3t 54min</td>
		</tr>
		<tr class="info">
			<td>2</td>
			<td>12.14</td>
			<td>15.33</td>
			<td>3t 19min</td>
		</tr>
	</table>
	</td>
	</tr>
	
	<% end -%>
</table>
<button class="btn btn-success">Godkjenn alle</button>
