

<%= render "shared/error_messages", :target => @group %>

<div class="control-group">
<%= form.label "Navn", class: "control-label" %>
<div class="controls">
<%= form.text_field :name %>
</div>
</div>
