<div class="container">
<%= render 'shared/supervisor_buttonbar'%>

<div id="login">
<h1 style="text-align: center;">Register</h1>

<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
<%= render :partial => "form", :object => f, :locals => { :user => @user } %>
<div class="controls">
<%= f.submit "Opprett" %>
</div>
<% end %>
</div>
</div>
