
	<table class="table table-striped table-hover" id="parent_table">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Dato</th>
				<th>Timer</th>
				<th>Status</th>
			</tr>

		</thead>
		<tbody id="workday_body">
			<% workdays.each_with_index do |day, index|%>
			<%= render 'shared/workday', workday: day[:day], sum: day[:sum], id: index, page: page%>
			<%end%>
		</tbody>
	</table>