

<div class="container">
	<%= render 'shared/supervisor_buttonbar'%>
    <div class="hero-unit">
    <h1>Du har ikke adgang på denne siden</h1>
    <p>Kontakt administrator om du burde ha det</p>
    <p>
    </p>
    </div>
</div>