<!DOCTYPE html>
<html>

<body>
	
<div id="content">
	<h3>Dra nøkkelkortet for å registrere deg</h3>
	<form name="automatic_form" action="/" method="post">
	<input type="text" id="card_input_value" name="value" />
	</form>
	<a href="/manual">Glemt kortet?</a>
</div>

</body>
</html>