<!DOCTYPE html>
<html>

<body>

<div id="content">
	<form name="manual_form" action"manual" method="post">
	<h2>Manuell registrering</h2>
	Ansattnr:<input type="text" name="id" />
	</br>
	Passord:<input type="password" name="pw" />
	</br>
	<input type="submit" value="Registrer" />
	</form>
	</br>
	<%= link_to "Tilbake til kortregistrering", root_path%>

</div>

</body>
</html>