<!DOCTYPE html>
<html>

<head>

</style>
</head>
<body>

<div id="content">
	<form name="manual_form" action"manual" method="post">
	<h3>Manuell registrering</h3>
	Ansattnr:<input type="number" name="id" />
	</br>
	Passord:<input type="password" name="pw" />
	</br>
	<input type="submit" value="Submit" />
	</form>
	</br>
	<a href="/">Tilbake til kortregistrering</a>

</div>

</body>
</html>