
<%= stylesheet_link_tag "theme/jquery-ui-1.10.2.custom.css"%>
<script>
	$(function() {
    $('#datepicker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'yy-m',
        maxDate: new Date,
        onClose: function(dateText, inst) { 
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        }
    });
});
</script>
<div class="container">

	<%= form_tag records_path, :method => 'post', class:"navbar-form pull-left" do %>
<legend>Export</legend>
    <%= text_field_tag "datepicker", params["datepicker"], placeholder: "Dato"%>
	<%= submit_tag "Exporter", class: "btn"%>
	<% end %>	
</div>
