

<div class="container">
	<%= render 'shared/supervisor_buttonbar'%>

	<h3>Skriv inn tallsekvensen på kortet for å søke etter brukeren</h3>
	<form name="card_form" id="card_form_id", method="get">

	<input type="text" id="card_form_input_id" name="id" />
	
	<% unless @user.nil?%>
	<p>
	<b>Eier av kort:</b>
	<%= link_to @user.name, @user %>
	</p>
	</p>
	<%end%>

</div>
