
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";
#content
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

#alerts
{
  clear: both;
  text-align:center;
  float: bottom;
}
  
#card_input_value
{
  opacity: 0;
  filter:alpha(opacity=0);
  width: 0;
  overflow: hidden;
}


body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 60px;
  position: relative;
  //background: #FFF5E0;
}

#margin_left {
  margin-left: 7.5%;
}

.header 
{
  a
  {
    text-decoration: none;
    color: #0088cc;
  }
  
}
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #818181;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#logo_extra {
  margin-top: 5px;
}
.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}


.head {
  list-style: none;
  position: relative;
  left: 0;
  display: block;
  margin: 0 10px 0 0;
}
.pull-right
  {
    color:#000;
    float: right;
  }
  
  li{
    line-height: 20px;
   a{
     padding: 10px 15px 10px;
     display: block;
     }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  float: bottom;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#login
{
    width: 50%;
    margin: 0 auto;
    .login_form{
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }
    .login_title {
      width: 50%;
      margin: 10% auto 20px auto;
    }
}



#logs
{
  margin-top: 200px;
}




.row_button{
        width: 20%;
      } 
.last_td
      {
        width: 40%;
      }
.parent{
form {
  margin: 0px;
  display: inline;
  div{
    display: inline;
  }
}

}

#buttonbar
{
  margin-bottom: 50px;
  text-align: left;
}
.child_row
{
  display: none;
}
#sokebar
{
  float: right;
}

#child-table
{
  padding: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
  td {
    
  }
}


.span4{
  margin: 0px;
}



#current_month {

  text-align: center;
  float: left;
  form {
    text-align: right;
  }
}

div#next{
  text-align: right;
  float: right;

}
div#prev{
  float: left;
}
#mainTable {
  margin-top: 5%;
}


/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  
  
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  
  .my_pager {
    .row-fluid {
    .span3{
      width: 23.40426%;
    }
    .span4{
      width: 31.49171%;
    }
    }
  }
}


/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

}


