
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


#content
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

#alerts
{
  clear: both;
  text-align:center;
  float: bottom;
}
  
#card_input_value
{
  opacity: 0;
  filter:alpha(opacity=0);
  width: 0;
  overflow: hidden;
}


body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 60px;
  //background: #FFF5E0;
}

