
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#parent_table {
  
  td {
    max-width: 20px;
    
  }
  
}

#buttonbar
{
  margin-bottom: 50px;

}
.child_row
{
  display: none;
}
#sokebar
{
  float: right;
}

#child-table
{
  padding: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
  td {
    
  }
}

#supervisor_login
{
  padding-top: 100px;
  padding-left: 25%;
  position: relative;
}

.container {
  margin-bottom: 100px;
}

