
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin-left{
  

  padding-left: 8%;
  
}

.row_button{
        width: 20%;
      } 
.last_td
      {
        width: 40%;
      }
.parent{
form {
  margin: 0px;
  display: inline;
  div{
    display: inline;
  }
}

}

#buttonbar
{
  margin-bottom: 50px;

}
.child_row
{
  display: none;
}
#sokebar
{
  float: right;
}

#child-table
{
  padding: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
  td {
    
  }
}


.span4{
  margin: 0px;
}


#current_month {
  margin-left: 130px;
  text-align: center;
}

div#next{
  text-align: right;
  float: right;
}
div#prev{
  float: left;
}


