<!DOCTYPE html>
<html>

<body>
<div id="content">
	<h3>Dra nøkkelkortet for å registrere deg</h3>
	<form name="automatic_form" id="automatic_form_id" action="/" method="post">

	<input type="text" id="card_input_value" name="value" />
	
	</form>
	<%= %>
	<%= link_to "Glemt kortet?", :action => 'manual_register'  %>
</div>

</body>
</html>