

<table class="table table-hover logs">
<thead>
	<th>Dato</th>
	<th>Bruker</th>
	<th>Beskjed</th>
</thead>
<tbody>
	<% @logs.each do |log|%>
	<tr>
		<td>log.created_at</td>
		<td>log.user.name</td>
		<td></td>
	</tr>
	<%end%>
	
</tbody>

</table>
