
<%provide(:page, 'index')%>
<%provide(:action, 'index')%>


<div class="container">
	
	<%= render 'layouts/supervisor_buttonbar'%>
	<%= render 'layouts/pager'%>
	<%= render 'layouts/workday'%>


	<%=button_to  "Godkjenn alle timer", {:action => "approve_all", user_id: @user},
					{class: "btn btn-small btn-success",
             		:confirm => "Are you sure?"}%>
</div>
