
<%provide(:page, 'list')%>
<%provide(:action, 'list')%>

<div class="container">
	<%= render 'layouts/supervisor_buttonbar'%>
<%= render 'layouts/pager'%>
<%= render 'layouts/workday'%>
	<button class="btn btn-success">Godkjenn alle</button>
</div>
