
<div class="container">

<%= render 'shared/supervisor_buttonbar'%>
<table class="table table-striped table-hover" id="parent_table">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Dato</th>
				<th>Timer</th>
				<th>Status</th>
			</tr>
			
		</thead>
		<tbody>
				<%= render 'shared/workday', workday: @workday, sum: @sum, id: @workday.id, page: "workday"%>
		</tbody>
	</table>
</div>
