<header class="header">
      <div class="header-inner">
        <div class="container">
          <%= link_to "Kuraas AS timeregistrering", root_path, id: "logo" %>
          <nav>
            <ul class="head pull-right">
              <li><a class="btn" href="/logout">Logg ut</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

