<div class="pager row">
	
	<span id="prev" class="span4">
		
		<%=button_to  t("date.month_names")[@date.advance(months: -1).month].titleize, { :action => yield(:action), page: yield(:action), date: @date.advance(months: -1)},
					{class: " btn-small btn btn-info #{@prev_class} pager_buttons" ,id: "prev_button", form_class: "prev_form"}%>
	</span>
	<span class="span4" id="current_month">
		<button href=<%=yield(:action)%> class='btn btn-info'>Gjeldende måned</button>
	</span>
	<span class="span4" id="next">
		<%=button_to  t("date.month_names")[@date.advance(months: 1).month].titleize, { :action => yield(:action), 
			page: yield(:action), date: @date.advance(months: 1)},
					{class: " btn-small btn btn-info #{@next_class} pager_buttons" ,id: "next_button", form_class: "next_form"}%>
	</span>
</div>
