<%provide(:custom_css, 'supervisor')%>
<div id="buttonbar">
<div class="navbar">	
	<div class="navbar-inner">
	<ul class="nav">
		<li clas="active">
			<a href="/supervisor">Hjem</a>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<a href="/supervisor/list">Klar for verifisering</a>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<a href="#">Nylig verifisert</a>
		</li>
		<li class="divider-vertical"></li>
	</ul>
	<form class="navbar-search pull-left" id="sokebar">
    	<input type="text" class="search-query" placeholder="Søk">
    </form>
	</div>
</div>
</div>
