<%provide(:custom_css, 'supervisor')%>
<div id="buttonbar">
<div class="navbar">	
	<div class="navbar-inner">
	<ul class="nav">
		<li clas="active">
			<%= link_to "Hjem", workdays_path%>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Brukere", users_path%>
		</li>
		<li class="divider-vertical"></li>

	</ul>
	<form class="navbar-search pull-left" id="sokebar">
    	<input type="text" class="search-query" placeholder="Søk">
    </form>
	</div>
</div>
</div>
